.images{display: flex;animation-duration: 150s;animation-name: images;animation-iteration-count: infinite;}
#carousel{width: auto;overflow: auto;border: 2px solid black;height: auto;}

#a{width: 350px;height: 350px;}
#b{width: 350px;height: 350px;}
#c{width: 350px;height: 350px;}
#d{width: 350px;height: 350px;}
#e{width: 350px;height: 350px;}


#f{background-color:rgb(83, 228, 83);position:relative;color: rgb(255, 255, 255);}


@keyframes images {0%{transform: translateX(0);

}
25%{transform: translateX(-312px);}
50%{transform: translateX(-624px);}75%{transform: translateX(-1248px);}100%{transform: translateX(0);}}